apiVersion: 1
datasources:
  - name: InfluxDB-asa
    uid: influxdb-asa-main
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    jsonData:
      httpMode: GET
      dbName: asa-metrics
      httpHeaderName1: Authorization
    secureJsonData:
      httpHeaderValue1: "Token YOUR_TOKEN_HERE"
